#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include "Generated.xcconfig"

// Push notifications + Universal Links capabilities for the Runner app target.
CODE_SIGN_ENTITLEMENTS=Runner/Runner.entitlements

// Target prod PocketBase when running debug builds from Xcode.
// Appends PB_URL=https://brf-samlat-pb.cloud.mustini.com to Flutter's DART_DEFINES.
DART_DEFINES=$(DART_DEFINES),UEJfVVJMPWh0dHBzOi8vYnJmLXNhbWxhdC1wYi5jbG91ZC5tdXN0aW5pLmNvbQ==
